* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f5f5f5;
}

ul, li {
  list-style: none;
}

h3, h4, a {
  color: rgba(56, 56, 56);
}

h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}

h4 {
  font-size: 1rem;
} 